
figure {
	/*   width:30%; */
	position:relative;
	padding:5px;
}

figure img {
	width:100%;
	border-radius:3px;
}

figcaption.inside{
	position:absolute;
	top:20px;
	left:20px;
	}

figcaption.inside h2 {
	color:white;
}

span {
	//display:block;
}

.text-desc {
	font-size:14px!important;
	/*       font-size: 16px !important; */
	line-height: 22px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	color: rgb(72, 72, 72) !important;
	font-weight: normal !important;
	margin-top: 0px !important;
}

.text-color {
	color:rgb(255, 180, 0)!important;
	font-size:14px!important;
}

.text-color-denied {
	color:red!important;
	font-size:14px!important;
}

.text-color-approved {
	color:green!important;
	font-size:14px!important;
}

.btn-danger {
    color:white
}