// Import page-specific CSS files here.
@import "home";

.btn {
	color: black;
	border-color: #B0B0B0;
}

.btn:hover {
	background-color: transparent;
	color: black;
	border-color: black;
}

#map {
	height: 100vh;
	position: sticky;
	top: 0;
	width: 50vh;
	width: auto!important;
}


body {
	margin: 0;
	margin-left: 5px;
  background: #F4F4F4;
}

.index-container {
  display: flex;
}

.skeleton {
	flex-grow: 1;
	background-color: white;
}


.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
	padding: 5px;
	margin: 5px;
	border-top: solid;
	border-color: #92a8d1;
	border-width: thin
}

.card-product img {
  height: 100%;
  width: 300px;
	border-radius: 5%;
}


.card-product p {
	color: #7A7171;
}

.card-product h2 {
	color: #222222;
}

.card-product .lower-price {
	color: #222222;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 5%;
	border-width: 1px;
	padding: 2px;
}


.card-product-infos {
	height: 100%;
	margin-left: 5px;
}


h2 {
	font-weight: 800 !important;
	margin-bottom: 0px !important;
	font-size: 25px !important;
	line-height: 30px !important;
	letter-spacing: normal !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	color: rgb(72, 72, 72) !important;
}

.fa-star {
	color:#FF385C
}


.color-text {
  color:rgb(163, 39, 1)!important;
  font-size:12px!important;
  font-weight:700!important;
  line-height:16px!important;
	text-transform:uppercase;
	margin: 0px;
}

figure {
	margin-bottom: 0px;
}
