// Import page-specific CSS files here.
@import "home";

.btn {
	color: black;
	border-color: #B0B0B0;
}

.btn:hover {
	background-color: transparent;
	color: black;
	border-color: black;
}
  
#map {
	height: 100vh;
	position: sticky;
	top: 0;
	width: 50vh;
	width: auto!important;
}


body {
	margin: 0;
	margin-left: 5px;
  background: #F4F4F4;
}

.index-container {
  display: flex;
}

.skeleton {
	flex-grow: 1;
	background-color: white;
}


.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
	padding: 5px;
	margin: 5px;
	border-top: solid;
	border-color: #92a8d1;
	border-width: thin
}

.card-product img {
  height: 100%;
  width: 300px;
	border-radius: 5%;
}


.card-product p {
	color: #7A7171;
}

.card-product h2 {
	color: #222222;
}

.card-product .lower-price {
	color: #222222;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 5%;
	border-width: 1px;
	padding: 2px;
}


.card-product-infos {
	height: 100%;
	margin-left: 5px;
}


h2 {
	font-weight: 800 !important;
	margin-bottom: 0px !important;
	font-size: 25px !important;
	line-height: 30px !important;
	letter-spacing: normal !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	color: rgb(72, 72, 72) !important;
}
  
  
figure {
	/*   width:30%; */
	position:relative;
	padding:5px;
}

figure img {
	width:100%;
	border-radius:3px;
}

figcaption.inside{
	position:absolute;
	top:20px;
	left:20px;
	}

figcaption.inside h2 {
	color:white;
}

span {
	display:block;
}

.text-desc {
	font-size:14px!important;
	/*       font-size: 16px !important; */
	line-height: 22px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	color: rgb(72, 72, 72) !important;
	font-weight: normal !important;
	margin-top: 0px !important;
}

.text-color {
	color:rgb(255, 180, 0)!important;
	font-size:14px!important;
}
	
.text-color-denied {
	color:red!important;
	font-size:14px!important;
}

.text-color-approved {
	color:green!important;
	font-size:14px!important;
}



.fa-star {
	color:#FF385C
}




