.btn {
  border-radius: 3px;
}

.map {
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.flat-show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

a.link-1rem {
  font-size: 1rem;
  color: #167FFB !important;
}

a.link-1rem:hover {
  font-size: 1rem;
  color: #e6e6e6 !important;
}

.imgsize {
  height: 500px;
  object-fit: cover;
}

.fa-quote-right {
	color:#9c27b0
}
@media (max-width: 1200px) {
  #map {
    display: none;
  }
}
