<section id="boat_services" class="my-5">
  <div class="container">
    <div class="title mb-1">
      <h2>Your flats</h2>
    </div>
		
    <div class="row">
      <div class="col-md-4">
        <figure>
					<%= @flats.each do |flat| %>
						<%= cl_image_tag flat.photos.first.key %>
					<% end %>
	  		</figure>
				<button type="button" class="btn btn-outline-secondary w-100">Edit</button>
				<button type="button" class="btn btn-danger w-100">Delete</button>
      </div>

      <div class="col-md-4">
        <figure>
					<img src="https://thumbs4.properati.com/Pi-bn_1Ufw048n5MPDMUgiIp10o=/1080x0/filters:strip_icc()/https%3A%2F%2Fproperati-s3-ar.s3-us-west-2.amazonaws.com%2Fdevelopments%2F6031%2Fhttps-static-tokkobroker-com-dev_pictures-105350561760697991164408345524108417923544260449006125395956453627633425823708-jpg" class="mb-2"alt="">
					<figcaption class="inside">
						<h2 class="text-white">Buenos Aires</span></h2>
					</figcaption>
					<figcaption class="outside">
						<p class="small text-color mb-0">Pending</p>
						<p class="text-desc">Excelente departamento tipo dúplex equipado.</p>
					</figcaption>
    		</figure>
				<button type="button" class="btn btn-outline-secondary w-100">Edit</button>
				<button type="button" class="btn btn-danger w-100">Delete</button>
      </div>			
  </div>
</section>