<div class="footer">
   <div class="footer-links">
      <a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/AirbnbMexico/?brand_redir=324826532457" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/Airbnb?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  © 2021 Airbnb clone project <i class="fas fa-home"></i>
  </div>
</div>