.btn {
	background-color: $violet;
	border-color: $violet;
}

.btn:hover {
	background-color: $magnolia;
	color: $violet;
}

.btn-link {
	color: $magnolia;
}

.btn-booking{
	background-color: #EFEFEF;
	border-color: #767676;
	height: 30px;
	width: 70px;
	text-align: inherit;
	padding-top: 3px;
}


.btn-booking:hover {
	background-color: #E5E5E5;
	border-color: #4F4F4F;
  }

#btn-disabled {
	color: $magnolia !important;
	background-color: #4F4F4F !important;
	border:#4F4F4F
}