.navbar-lewagon {
  justify-content: space-between;
  background: $magnolia;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .fa-airbnb {
  font-size: 40px;
  color: $violet;
}